doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Covid Stores
  // Bootstrap core CSS
  link(href='../home/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='../home/css/shop-homepage.css' rel='stylesheet')
.page-wrapper.bg-gra-03.p-t-45.p-b-50
  .wrapper.wrapper--w790
  // Page Content
  .container
    .row
      .col-lg-2
        .card-heading
            h4.title TASKS
        .list-group
        a.list-group-item(href='http://localhost:4000/salesagent/productlist') PRODUCT LIST
        a.list-group-item(href='http://localhost:4000/salesagent/addpurchase') ADD PURCHASE
        a.list-group-item(href='http://localhost:4000/salesagent/purchaselist') PURCHASES LIST
        a.list-group-item(href='http://localhost:4000/salesagent/logout') Log Out
      // /.col-lg-3
      .col-lg-10
        .card.card-5
            .card-heading
                h2.title PURSCHASE LIST
            .card-body
                //- div.form-row
                //-     div.col.form-group.col-md-12    
                //-         form.search(action='/register/userlist')
                //-             div.form-row
                //-                 div.col-md-8
                //-                     input.form-control(name='city' placeholder="Enter your search term ...")
                //-                 div.col-md-4
                //-                     input.btn.btn-dark.btn-block(type="submit")
                table.table
                    thead.thead-dark
                        tr
                            th Customer Name
                            th Location
                            th Phone Number
                            th Product Name
                            th Initial Pay
                            th Date of Initial Pay
                            th Amount Due Next Payment
                            th Date of Next Payment
                            th Referee Number
                    tbody
                        each purchase in purchases
                            tr
                                td #{purchase.customername}
                                td #{purchase.location}
                                td #{purchase.phoneno}
                                td #{purchase.productname}
                                td #{purchase.initialpay}
                                td #{purchase.dateofinitialpay}
                                td #{purchase.amountofnextpayment}
                                td #{purchase.dateofnextpayment}
                                td #{purchase.refereename}
                                //- td
                                //-     form(method="post" action='/register/delete')
                                //-         input(type="hidden" placeholder="" name="id" )
                                //-         button.btn.btn-dark.btn-block(type="submit") DELETE 
                    
                // /.row
            // /.col-lg-9
            // /.row
        // /.container
        // Footer
footer.py-5.bg-dark
.container
    p.m-0.text-center.text-white Copyright &copy; Covid Stores 2020
// /.container
// Bootstrap core JavaScript
script(src='../home/vendor/jquery/jquery.min.js')
script(src='../home/vendor/bootstrap/js/bootstrap.bundle.min.js')
