extends layout
block content
    header.card-header
        h4.card-title Product List
        |&nbsp
    div.form-row
        div.col.form-group.col-md-12    
            form.search(action='/register/userlist')
                div.form-row
                    div.col-md-8
                        input.form-control(name='city' placeholder="Enter your search term ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
    table.table
        thead.thead-dark
            tr
                th Product Name
                th Serial No
                th Product Description
                th Product Price
                th Product Initialpay
                th Product Image
                th Product Color
                th Product Make
                th Date of Entry
                th ProductQty
        tbody
            each product in products
                tr
                    td #{product.productname}
                    td #{product.productdescription}
                    td #{product.productprice}
                    td #{product.productinitialpay}
                    td #{product.productimage}
                    td #{product.productcolor}
                    td #{product.productmake}
                    td #{product.serialnumber}
                    td #{product.dateofEntr}
                    td #{product.productQty}

                    
                    //td
                        form(method="post" action='/register/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete