extends layout
block content
    header.card-header
        h4.card-title Sales Agents
        |&nbsp
    div.form-row
        div.col.form-group.col-md-12    
            form.search(action='/register/userlist')
                div.form-row
                    div.col-md-8
                        input.form-control(name='city' placeholder="Enter your search term ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
    table.table
        thead.thead-dark
            tr
                th Firstname
                th Lastname
                th Sales Agent NIN
                th Sales Agent Emp ID
                th Sales Agent Photo
                th User Name
                th Password
        tbody
            each salesagent in salesagents
                tr
                    td #{salesagent.firstname}
                    td #{salesagent.lastname}
                    td #{salesagent.salesagentnin}
                    td #{salesagent.salesagentempid}
                    td #{salesagent.salesagentphoto}
                    td #{salesagent.username}
                    td #{salesagent.password}
                    td
                        //form(method="post" action='/register/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete